{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="flex flex-col justify-center items-center max-w-lg">
		<img src="/images/logo.svg" class="w-24 md:h-auto mb-8" alt="logo"/>
		<h1 class="text-2xl uppercase font-bold text-center max-w-md mb-8">Votre identifiant pour nous rejoindre</h1>
		<div>
			<form class="flex flex-col content-center justify-center items-center" method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<input type="text" id="inputEmail" name="email" placeholder="email" value="{{ last_username }}" class="border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3"/>
				<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-email"></span>

				<input type="password" name="password" id="inputPassword" placeholder="password" autocomplete="current-password" class="border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3">
				<div class="flex justify-between items-start w-80 mb-3">
					<div class="remember flex justify-start w-40">
						<input type="radio" class="form-radio mt-2" name="_remember_me" value="personal">
						<span class="text-sm px-1 mt-1 text-gray-500">Garder ma session ouverte</span>
					</div>
					<div class="forget">
						<a class="text-sm text-gray-400 underline" href="{{ path('app_forgot_password')}}">Mot de passe oublié ?</a>
					</div>
				</div>
				<p class="w-80 text-gray-500 text-sm text-center mb-6">En vous connectant, vous acceptez de vous conformer à la Politique de confidentialité et aux Conditions générales de notre site.</p>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<button class="bg-black text-white text-sm w-80 pt-2 pb-2 mb-3" type="submit">Connexion</button>
				<p class="text-gray-500 text-sm">Vous n'êtes pas encore membre ?
					<a class="text-gray-600 text-sm underline" href="{{ path('register') }}">Rejoignez-nous.</a>
				</p>
			</form>
		</div>
	</div>

{% endblock %}
