{% extends 'security/baseSecurity.html.twig' %}

{% block title %}Register
{% endblock %}
{% block body %}
	<div class="flex flex-col justify-center items-center max-w-lg">
		<img src="/images/logo.svg" class="w-24 md:h-auto mb-8" alt="logo"/>
		<h1 class="text-2xl uppercase font-bold text-center max-w-md mb-8">{% trans %}pages.register.title{% endtrans %}</h1>
		<p class="text-md text-center text-gray-500 w-80 mb-6">{% trans %}pages.register.informations{% endtrans %}
		</p>
		{# form new user #}
		{{form_start(form,{'attr': {'class': 'flex flex-col content-center justify-center items-center'}})}}

		{{form_widget(form.email,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.email) }}</span>

		{{form_widget(form.password.first,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.password.first) }}</span>

		{{form_widget(form.password.second,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.password.second) }}</span>
		<div class="flex flex-nowrap w-full ">
			<div class="box-border">
				{{form_widget(form.firstName,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 focus:shadow-outline mb-3'}})}}
				<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.firstName) }}</span>
			</div>
			<div class="box-border">
				{{form_widget(form.lastName,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700  focus:shadow-outline mb-3'}})}}
				<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.lastName) }}</span>
			</div>
		</div>
		{{form_widget(form.birthday,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.birthday) }}</span>

		<p class="text-md text-center text-gray-500 w-80 mb-6">{% trans %}pages.register.birthday{% endtrans %}
		</p>

		{{form_widget(form.phone,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.phone) }}</span>

		{{form_widget(form.address,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.address) }}</span>

		{{form_widget(form.city,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.city) }}</span>

		{{form_widget(form.codeZip,{'attr':{'class':'border shadow-inner py-2 px-3 text-gray-700 w-80 focus:shadow-outline mb-3'}})}}
		<span class=" w-80 text-red-500 text-sm px-1 mb-3" id="error-password">{{ form_errors(form.codeZip) }}</span>

		<button type="submit" class="bg-black text-white text-sm w-80 pt-2 pb-2 mb-3" type="submit">{% trans %}pages.reset.button_send{% endtrans %}</button>
		{{form_end(form)}}
	</div>
{% endblock %}
